{% extends "base.html" %}

{% block content %}
    <h1>I am a placeholder. Watch me hold places.</h1>
<script type="text/javascript">
    var webSocket = new WebSocket('ws://70.161.103.184:8765');
    var reaper = new Audio('http://70.161.103.184/audio/reaper.mp3');
    //var ghost = new Audio('http://70.161.83.122:8080/audio/ghost.mp3');
    //var sea = new Audio('http://70.161.83.122:8080/audio/sea.mp3');
    //var teleporter = new Audio('http://70.161.83.122:8080/audio/teleporter.mp3');
    //var roar = new Audio('http://70.161.83.122:8080/audio/roar.mp3');
    
    webSocket.onmessage = function (event) {
        console.log(event.data);
        var promise;
        
        if(event.data === "reaper"){
            promise = reaper.play();
            if(promise !== null) {
                promise.catch(() => { reaper.play(); });
            }
        } else if(event.data === "ghost") {
            promise = ghost.play();
            if(promise !== null) {
                promise.catch(() => { ghost.play(); });
            }
        } else if(event.data === "sea") {
            promise = sea.play();
            if(promise !== null) {
                promise.catch(() => { sea.play(); });
            }
        } else if(event.data === "teleporter") {
            promise = teleporter.play();
            if(promise !== null) {
                promise.catch(() => { teleporter.play(); });
            }
        } else if(event.data === "roar") {
            promise = roar.play();
            if(promise !== null) {
                promise.catch(() => { roar.play(); });
            }
        }
    };
    
    webSocket.opopen = function (event) {
        console.log("Hello world!");
    };
</script>
{% endblock %}